.grab-wrapper{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    position: relative;
}
.grab-left{
    max-width: 60%;
    padding-left: 60px;
}
.grab-text{
    width: 782px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 64PX;
    line-height: 100%;
    margin-bottom: 32px;
}
.grab-btn{
    padding: 14px 24px;
    background: #FFFFFF;
   border-radius: 30px;
   color: #000000;
   font-weight: 700;
   font-size: 20px;
   line-height: 100%;
   &:hover{
    transform: scale(1.1);
   }
}
.grab-right{
    max-width: 100%;
    
}
.grab-img{
    width: 100%;
  
}