.offline-wrappers{
    padding: 60px 0;
}
.offline-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offline-left{
    max-width: 50%;
    background: url(../Offline/image/offline_left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.offline-right{
    
}