.offline-wrappers{
    padding: 60px 0;
}
.offline-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.offline-left{
    max-width: 50%;
    flex: 0 0 50%;     
    height: 400px;
    background: url(../Offline/image/offline_left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.offline-right{
    max-width: 50%;
    flex: 0 0 50%;        
    height: 400px;
    background: url(../Offline/image/offline_right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}